html{
    scroll-behavior: smooth;
    background-color: #bc0d0d;
}
body {
    margin: 0;
    padding: 0;
}

section {
    background-color: #ce0b0b;
    height: 100vh;
    padding-top: 20px;
    padding-left: 4%;
    padding-right: 4%;
    width: 90%;
    margin: 0 auto;
}
section > h2 {
    font-family: 'Merriweather Sans', sans-serif;
}
section > p {
    font-family: 'Merriweather', serif;
}
nav {
    position: fixed;
    top: 0px;
    background-color: #063607;
    width: 100%;
    height: 30px;
}
h2 {
    font-size: 4em;
    color: white;
}
p {
    color: white;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #063607;
}
ul > a > img {
    margin-left: 19px;
    float: left;
    height: auto;
    width: auto;
    width: 45px;
}
ul > img:hover {

}
li {
    float: left;
}
li:hover {
    color: aliceblue;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #0b510c;
}